{
    "notify": {
        "amqp": {
            "1": {
                "enable": true,
                "url": "amqp://TESTINGTESTING123:TESTINGTESTING123TESTINGTESTING123@rabbitmq:5672",
                "exchange": "bucketevents",
                "routingKey": "raw-media-bucket",
                "exchangeType": "fanout",
                "deliveryMode": 0,
                "mandatory": false,
                "immediate": false,
                "durable": false,
                "internal": false,
                "noWait": false,
                "autoDeleted": false,
                "queueDir": "",
                "queueLimit": 0
            }
        }
    }
}