{    
    "cache": {
        "drives": [],
        "exclude": [],
        "expiry": 90,
        "maxuse": 80
    },
    "compress": {
        "enabled": false,
        "extensions": [".txt", ".log", ".csv", ".json", ".tar", ".xml", ".bin"],
        "mime-types": ["text/*", "application/json", "application/xml"]
    },
    "credential": {
        "accessKey": "TESTINGTESTING123",
        "expiration": "1970-01-01T00:00:00Z",
        "secretKey": "TESTINGTESTING123TESTINGTESTING123",
        "status": "enabled"
    },
    "kms": {
        "vault": {
            "auth": {
                "approle": {
                    "id": "",
                    "secret": ""
                },
                "type": ""
            },
            "endpoint": "",
            "key-id": {
                "name": "",
                "version": 0
            }
        }
    },
    "ldapserverconfig": {
        "enabled": false,
        "groupNameAttribute": "",
        "groupSearchBaseDN": "",
        "groupSearchFilter": "",
        "serverAddr": "",
        "stsExpiryDuration": "",
        "usernameFormat": ""
    },
    "logger": {
        "audit": {
            "_": {
                "enabled": false,
                "endpoint": "https://username:password@example.com/api/audit"
            }
        },
        "console": {
            "enabled": true
        },
        "http": {
            "_": {
                "enabled": false,
                "endpoint": "https://username:password@example.com/api"
            }
        }
    },
    "notify": {
        "amqp": {
            "1": {
                "enable": true,
                "url": "amqp://TESTINGTESTING123:TESTINGTESTING123TESTINGTESTING123@rabbitmq:5672",
                "exchange": "bucketevents",
                "routingKey": "raw-media-bucket",
                "exchangeType": "fanout",
                "deliveryMode": 0,
                "mandatory": false,
                "immediate": false,
                "durable": false,
                "internal": false,
                "noWait": false,
                "autoDeleted": false,
                "queueDir": "",
                "queueLimit": 0
            }
        }
    },
    "openid": {
        "jwks": {
            "url": null
        }
    },
    "policy": {
        "opa": {
            "authToken": "",
            "url": null
        }
    },
    "region": "",
    "storageclass": {
        "rrs": "",
        "standard": ""
    },
    "version": "33",
    "worm": "off"
}